ES_PROTO=http
ES_HOST=elastic
ES_PORT=9200
ES_USERNAME=
ES_PASSWORD=
ES_INDEX=skohub-reconcile
APP_PORT=3000
APP_BASEURL=http://localhost:3000
APP_DEFAULTLANG=en

SUPPORTED_API_VERSIONS=["0.2"]

SUGGEST_QUERY_SIZE=10

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=changeme

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=changeme
KIBANA_SYSTEM_PASSWORD=changeme

# Version of Elastic products
STACK_VERSION=8.6.2

# Set the cluster name
CLUSTER_NAME=skohub

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=1073741824
